.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background: /*linear-gradient( */
        /* rgba(253, 251, 251, 0.5) */
        /* rgba(253, 253, 253, 0.25) */
    /* ), */
    
    url("https://plus.unsplash.com/premium_photo-1664478330189-4702f9310df3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cGhvdG8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: wheat;
    border-radius: 10px;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: wheat;
    border-radius: 10px;
}